<h1>Список вопросов и ответов к ним</h1>
<h2>Тест: <%= @test.title%> </h2>

<table>
  <thead>
  <tr>
    <th>Вопрос</th>
    <th>Ответы</th>
  </tr>
  </thead>

  <tbody>
  <% @questions.each do |question| %>
    <tr>
      <td><%= link_to question.body, question_path(question) %></td>
      <% question.answers.each do |answer| %>
      <td><%= answer.title %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<br>

<p><%= link_to 'Новый вопрос', new_test_question_path %></p>
<%= link_to 'Назад к списку тестов', tests_path %>