<h1>Вопос: <%=@question.body%></h1>
<h5>
  <%= @question.test.title %>
</h5>

<%= link_to 'New Answer', new_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to 'Edit', edit_question_path(@question) %>
<%= link_to 'Destroy', @question, method: :delete %>
<%= link_to 'Back', test_questions_path(@question.test_id)%>
