<h1>Вопос: <%=@question.body%></h1>
<table>
  <thead>
  <tr>
    <th>id</th>
    <th>Ответ</th>
  </tr>
<tbody>
<% @question.answers.each do |answer| %>
  <tr>
    <td><%= answer.id %></td>
    <td><%= answer.title %></td>
  </tr>
<% end %>
</tbody>
</table>
<br>
<%= link_to 'Destroy', @question, method: :delete %>
<%= link_to 'Back', test_questions_path(@question.test_id)%>