<div class="card badge-card mx-3 bg-light">
  <%= image_tag badge.badge_image, class: 'card-img-top', alt: "Card image cap", size: 320%>
  <div class="card-body">
    <h4 class="card-title"><%= badge.title %></h4>
    <p class="card-text"><%= badge.title %></p>
    <div class="btn-group" role="group" aria-label="Basic example">
      <%= link_to t('links.edit'), edit_admin_badge_path(badge), class: 'btn btn-secondary' %>
      <%= link_to t('links.show'), edit_admin_badge_path(badge), class: 'btn btn-secondary' %>
      <%= link_to t('links.delete'), edit_admin_badge_path(badge), class: 'btn btn-secondary' %>
    </div>
  </div>
</div>