<nav class="navbar navbar-dark bg-dark">
  <%= link_to 'TestGuru', root_path, class: 'navbar-brand' %>
    <span class="navbar-text">
      <% if user_signed_in? %>
        <%= link_to t('shared.errors.navbar.admin_panel'), admin_tests_path, class: 'btn' if current_user.is_a?(Admin) %>
        <%= link_to t('shared.errors.navbar.feedback'), new_feedback_path, class: 'btn btn-info' %>
        <%= link_to t('shared.errors.navbar.logout'), destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
      <% else %>
        <%= link_to t('links.sign_in'), new_user_session_path, class: 'btn'%>
        <%= link_to t('links.sign_up'), new_user_registration_path, class: 'btn' %>
      <% end %>
    </span>
</nav>

