<h1> <%= question_header(question) %></h1>

<%= form_with(model: [:admin, test, question], local: true ) do |form| %>
<p>
  <div class="field">
  <%= form.label :body %>
  <%= form.text_field :body %>
  </div>
  </p>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
