<h1>Вопос: <%=@question.body%></h1>
<h5>
  <%= @question.test.title %>
</h5>

<%= link_to t('links.new_answer'),  new_admin_question_answer_path(@question) %>

<ol>
  <%= render @question.answers %>
</ol>

<%= link_to t('links.edit'), edit_admin_question_path(@question) %>
<%= link_to t('links.delete'), admin_question_path(@question), method: :delete %>
<%= link_to t('links.back'), admin_test_path(@question.test)%>
