<div class="col-12 col-md-8 user-tests-table">
  <div class="p-4">
    <h1><%= t('.header') %></h1>
  </div>

  <table class="table table-hover">
    <thead class="thead-inverse">
    <tr>
      <th><%= t('.author') %></th>
      <th><%= t('.title') %></th>
      <th><%= t('.body') %></th>
    </thead>
    <tbody>
    <%= render @feedbacks %>
    </tbody>
  </table>
</div>