<h1><%= t('.header') %></h1>

<table>
  <tr>
    <th><%= t('.title') %></th>
    <th><%= t('.category') %></th>
    <th><%= t('.level') %></th>
    <th><%= t('.questions') %></th>
    <th><%= t('.author') %></th>
  </tr>
  <%= render @tests %>
</table>

<p><%= link_to t('links.new_test'), new_admin_test_path %></p>
