<div class="row justify-content-center">
  <div class="col-12 col-md-8 user-tests-table">
    <div class="p-4">
      <h1><%= t('.header') %></h1>
    </div>

    <%=render 'shared/errors', resource: @test%>

    <table class="table table-hover">
      <thead class="thead-inverse">
      <tr>
        <th></th>
        <th class="sort-by-title pointer">
          <%= t('.title') %>
          <%= octicon 'arrow-up', class: 'text-success hide' %>
          <%= octicon 'arrow-down', class: 'text-success hide' %>
        </th>
        <th><%= t('.category') %></th>
        <th><%= t('.level') %></th>
        <th><%= t('.questions') %></th>
        <th><%= t('.author') %></th>
      </tr>
      </thead>
      <tbody>
      <%= render @tests %>
      </tbody>
    </table>
    <p><%= link_to t('links.new_test'), new_admin_test_path, class: 'btn btn-primary' %></p>
  </div>

  <div class="col-12 col-md-8 user-tests-table">
    <div class="p-4">
      <h1><%= t('.gists') %></h1>
    </div>

    <table class="table table-hover">
      <thead class="thead-inverse">
      <tr>
        <th><%= t('.question') %></th>
        <th><%= t('.author') %></th>
        <th><%= t('.link') %></th>
      </thead>
      <tbody>
      <%= render @gists %>
      </tbody>
    </table>
  </div>
</div>


