<h1>All Tests</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Category</th>
    <th>Level</th>
    <th>Questions</th>
    <th>Author</th>
  </tr>

  <% @tests.each do |test| %>
    <tr>
      <td><%= link_to test.title, test_path(test) %></td>
      <td><%= test.category.title %></td>
      <td><%= test_level(test) %></td>
      <td><%= test.questions.count %></td>
      <td><%= test.author.name %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to 'Создать тест', new_test_path %></p>
