<h1>Тест: <%=@test.title%></h1>
<h3>Level: <%= @test.level%></h3>
<%= link_to 'New question', new_test_question_path(@test) %>
<br>
<h2> Questions</h2>
<ol>
  <%= render @test.questions %>
</ol>

<%= link_to 'Back', tests_path%>
